<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>BLOG</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a routerLink="/auth/login" mat-button><h5>Login</h5></a>
      <a routerLink="/auth/register" mat-button><h5>Register</h5></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a routerLink="/auth/login" mat-list-item>Login</a>
      <a routerLink="/auth/register" mat-list-item>Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>